<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>CF9-local</ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion9</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>